<main>
    <h1>Create Accessory</h1>
    <div class='form'>
        <form action='/accessories/create' method='POST'>
            <label for='name'>Name</label>
            <input type='text' id='name' name='name' value={{#if name}} {{name}} {{else}} '' {{/if}}/>
            <label for='name'>Description</label>
            <textarea id='name' name='description' value={{#if description}} {{description}} {{else}} '' {{/if}}></textarea>
            <label for='image'>ImageUrl</label>
            <input type='text' id='image' name='imageUrl' value={{#if imageUrl}} {{imageUrl}} {{else}} '' {{/if}}/>
            <input type='submit' value='Create' />
        </form>
    </div>
</main>